.development-section {
  border-top: 1px solid #dadde1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
}
.development-twocolumn {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.development-first-rightcolumn {
  padding-left: 50px;
  grid-area: b;
  max-width: 450px;
  width: 100%;
}
.development-last-leftcolumn {
  padding-right: 50px;
  grid-area: a;
  width: 100%;
}
.dissection {
  margin-top: -50px;
  position: relative;
}
@media only screen and (min-width: 961px) {
  .dissection {
    height: 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .dissection {
    height: 450px;
  }
}

.development-img {
  opacity: 1;
  left: 0;
  top: 0;
  position: absolute;
  max-width: 100%;
}
@media only screen and (max-width: 960px) {
  .development-twocolumn {
    grid-template-areas:
      "b"
      "a";
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 0;
    max-width: 100%;
  }
  .development-first-rightcolumn {
    grid-area: b;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    max-width: 100%;
    position: relative;
    justify-self: center;
    padding: 0 4rem;
  }
  .development-last-leftcolumn {
    grid-area: a;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 961px) {
  .development-last-leftcolumn {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .dissection {
    height: 350px;
  }
  .development-first-rightcolumn {
    padding: 0 1.25rem;
  }
  .development-last-leftcolumn {
    padding: 0 1.25rem;
  }
}
