.nativeapp-section {
  display: block;
  border-top: 1px solid #dadde1;
  overflow: hidden;
  max-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin: 0 auto;
}
.phones-img {
  max-width: 100%;
  margin-top: -25px;
}
.app-information-1 {
  padding-bottom: 12px;
}
.app-information-2 {
  padding-top: 12px;
}
.nativeapp-twocolumn {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 900px;
}
.nativeapp-first-rightcolumn {
  width: auto;
  grid-area: b;
  padding-left: 50px;
}
.nativeapp-last-leftcolumn {
  width: auto;
  grid-area: a;
  padding-right: 50px;
}
@media only screen and (max-width: 960px) {
  .nativeapp-section {
    max-width: 960px;
    max-height: 900px;
  }
  .nativeapp-twocolumn {
    display: grid;
    grid-template-areas:
      "b"
      "a";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  .nativeapp-first-rightcolumn {
    max-width: 100%;
    grid-area: b;
    justify-content: center;
    margin: 0 auto;
    padding: 0 4rem;
  }
  .nativeapp-last-leftcolumn {
    max-height: 300px;
  }
   
  .phones-img {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .nativeapp-twocolumn {
    padding: 0;
  }
  .nativeapp-first-rightcolumn {
    padding: 0 1.25rem;
  }
  .nativeapp-last-leftcolumn {
    padding: 0 1.25rem;
  }
  .nativeapp-last-leftcolumn{
    max-height: 300px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px){
  .nativeapp-last-leftcolumn{
    margin: 0 auto;
    width: 66.7%;
    padding: 0 4rem;
  }
}
