.development-section {
  display: block;
  border-top: 1px solid #dadde1;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin: auto;
}
.dissection {
  margin-top: -50px;
  position: relative;
}
@media (max-width: 961px) {
  .dissection {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
}
.development-img {
  position: absolute;
  height: 515px;
  width: 400px;
}
.code-child {
  background-color: #0000000f;
  border: 0.1rem solid #0000001a;
  border-radius: 3px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 90%;
  padding: 0.1rem;
  vertical-align: middle;
  color: #000000;
}
.development-twocolumn {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 900px;
}
.development-last-leftcolumn {
  width: auto;
  grid-area: a;
  max-height: 450px;
  max-width: 450px;
  padding-right: 50px;
}
.development-first-rightcolumn {
  width: auto;
  grid-area: b;
  max-width: 450px;
  padding-left: 50px;
}
@media only screen and (max-width: 961px) {
  .development-section {
    max-width: 960px;
    max-height: 900px;
  }
  .development-twocolumn {
    display: grid;
    grid-template-areas:
      "b"
      "a";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    padding: 0 50px;
  }
  .devlopment-first-rightcolumn {
    max-width: 100%;
    grid-area: b;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }
  .development-last-leftcolumn {
    max-width: 960px;
    position: relative;
    margin-top: 0;
    max-height: 450px;
  }
  .dissection {
    margin-top: 0;
    max-height: 450px;
  }
}
@media only screen and (max-width: 480px) {
  .development-twocolumn {
    padding: 0 1.25rem;
  }
  .development-first-rightcolumn .development-last-leftcolumn {
    padding: 0;
  }
}
