.announcementbar {
  display: flex;
  flex-direction: column;
  background-color: #20232a;
  color: #ffffff;
  border-bottom-color: #20232a;
  align-items: center;
  height: auto;
  width: 100%;
  border-bottom: 1px solid #20232a;
}
.announcementbar-data {
  padding: 8px 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .announcementbar-data {
    font-size: 18px;
  }
}
@media only screen and (max-width: 500px) {
  .announcementbar-data {
    font-size: 15px;
    line-height: 22px;
    padding: 6px 30px;
  }
}
.content {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  width: 100%;
}
.add-link {
  display: inline-block;
  color: #61dafb;
  text-decoration: underline;
}
.navbar-style {
  background-color: #20232a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8.5px 16px;
  font-family: "Optimistic Display", system-ui, -apple-system, sans-serif;
  position: sticky;
  top: 0;
  z-index: 200;
  text-size-adjust: 100%;
}
.navbar-inner {
  display: flex;
  flex-wrap: wrap;
  height: 46px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1360px;
  box-sizing: border-box;
  margin-bottom: 0;
}
.navbar-toggle {
  display: none;
}
@media only screen and (max-width: 996px) {
  .navbar-toggle {
    display: inherit;
    margin-right: 0.5rem;
  }
  .clean-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    color: #ffffff;
  }
}
.navbar-title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  align-items: center;
}
.navbar-title:hover {
  color: #61dafb;
}
.navbar-items {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 0;
}
.reactnative-logo-img {
  height: 34px;
  width: 38px;
  margin-right: 0.5rem;
  transition: transform 0.5s;
}
.navbar-brand {
  color: #f5f6f7;
  display: flex;
  align-items: center;
  min-width: 0;
  margin-right: 1rem;
}
.navbar-brand:hover .reactnative-logo-img {
  transform: rotate(180deg) scale(0.9);
}
.navbar-brand:hover {
  color: #61dafb;
}
.navbar-right-side {
  display: flex;
  min-width: 0;
  justify-content: center;
  flex: 0 0 auto;
  align-items: center;
  font-size: 17px;
}
.navbar-link {
  color: #f5f6f7;
  font-weight: 500;
  text-decoration: none;
  padding: 0.25rem 18px;
}
.dropdown {
  font-weight: 500;
  position: relative;
  vertical-align: top;
  display: inline-block;
}
.dropdown-link {
  border-radius: 0.25rem;
  color: #1c1e21;
  display: block;
  font-size: 15px;
  margin-top: 0.2rem;
  padding: 0.27rem 0.55rem;
  white-space: nowrap;
  color: #1c1e21;
  line-height: 24.5438px;
  transition: color 0 cubic-bezier(0.08, 0.52, 0.52, 1);
}
.navbar-link-dropdown {
  color: #f5f6f7;
  border-radius: 0.25rem;
  padding: 0.25rem 18px;
  font-size: 0.875rem;
  margin-top: 0.2rem;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  vertical-align: top;
}
.navbar-link-dropdown::after {
  border-color: currentcolor #00000000;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: "";
  position: relative;
  transform: translateY(-50%);
  display: inline-block;
  opacity: 0.75;
  margin-left: 8px;
  top: 1px;
}
ul {
  margin: 0 0 1rem;
}
.dropdown-menu {
  width: 168px;
  display: none;
  position: absolute;
  background-color: #fff;
  max-height: 80vh;
  min-width: 10rem;
  padding: 0.5rem;
  opacity: 1;
  left: inherit;
  right: 0;
  top: 0.25rem + 0.3rem;
  pointer-events: all;
  transform: translateY(5px);
  visibility: visible;
  border-radius: 0.4rem;
  box-shadow: 0 5px 40px #00000033;
  z-index: 100;
  list-style: none;
  overflow-y: auto;
  position: absolute;
  transition: color 0 cubic-bezier(0.08, 0.52, 0.52, 1);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown:hover .navbar-link-dropdown {
  color: #61dafb;
}
.dropdown-menu:hover .dropdown-link:hover {
  background-color: #0000000d;
  color: #1c1e21;
  text-decoration: none;
}
.navbar-link:hover {
  color: #61dafb;
}
a {
  text-decoration: none;
}
.navbar-github-link {
  display: flex;
  justify-content: center;
  padding: 0.25rem 18px;
  opacity: 1;
}
.navbar-github-link:hover {
  opacity: 0.5;
}
.git-icon {
  height: 24px;
  width: 24px;
}
.toggle-color-mode {
  height: 2rem;
  width: 2rem;
}
.toggle-button {
  background: none;
  color: #ffffff;
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}
.toggle-button:hover {
  background: #444950;
}
.search-box-navbar {
  padding: 4.2px 0 4.2px 14px;
}
.search-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: none;
  border-radius: 0.4rem;
  color: #969faf;
  background-color: #ebedf0;
  cursor: pointer;
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  padding: 4.25px 5px 4.25px 14px;
  border: 0;
  user-select: none;
  font-family: "Optimistic Display", system-ui, -apple-system, sans-serif;
}
.search-button:hover {
  background: #fff;
  box-shadow: inset 0 0 0 2px #06bcee;
  color: #1c1e21;
  outline: 0;
}
.search-button-container {
  display: flex;
  flex-direction: row;
}
.doc-search-button {
  padding: 0 12px 0 6px;
}
.doc-search-button:hover {
  color: #000000;
}
.Search-Icon-navbar {
  stroke-width: 1.6;
  height: 20px;
  margin: -1px;
  width: 16px;
  color: #000000;
}
.DocSearch-Control-Key-Icon {
  height: 15px;
  width: 15px;
}
.do-search-button-keys {
  display: flex;
  flex-direction: row;
}
.do-search-button-key {
  align-items: center;
  background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
  border: 0;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  color: #969faf;
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  padding: 0 0 2px;
  position: relative;
  width: 20px;
}
@media only screen and (max-width: 1200px) {
  .search-button {
    max-width: 40px;
    padding: 0 12px;
  }
  .doc-search-button {
    display: none;
  }
  .do-search-button-key {
    display: none;
  }
}
@media (max-width: 996px) {
  .navbar-link-dropdown,
  .navbar-link,
  .navbar-github-link,
  .toggle-color-mode {
    display: none;
  }
}
