@font-face {
  font-family: Optimistic Display;
  font-style: normal;
  font-weight: 300;
  src: url(https://facebookmicrosites.github.io/design/public/fonts/OptimisticDisplayLight-199be98cf48e5b4c688356b08a02362c.woff2)
    format("woff2");
}

@font-face {
  font-family: Optimistic Display;
  font-style: normal;
  font-weight: 500;
  src: url(https://facebookmicrosites.github.io/design/public/fonts/OptimisticDisplayRegular-b0e4e99f91efd0021c3ab8e4df0e6e1b.woff2)
    format("woff2");
}

@font-face {
  font-family: Optimistic Display;
  font-style: normal;
  font-weight: 700;
  src: url(https://facebookmicrosites.github.io/design/public/fonts/OptimisticDisplayBold-3a50548145f36de582c3b36d9626f4d6.woff2)
    format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: auto;
  font: 17px/1.65 "Optimistic Display", system-ui, -apple-system, sans-serif;
}

body {
  word-wrap: break-word;
  width: auto;
  
  display: block;
 
}

.allsection-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  max-width: 100%;
  font-weight: 300;
}
a:-webkit-any-link {
  cursor: pointer;
}
.main-wrapper {
  font-weight: 300;
  max-width: 1400px;
  width: 1400px;
}
div {
  display: block;
}
img{
  max-width: 100%;
}
h2 {
  font-family: "Optimistic Display", system-ui, -apple-system, sans-serif;
  margin-top: 0;
}
.heading {
  color: #1c1e21;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.contentapp {
  line-height: 28px;
  font-size: 17px;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-stretch: 100%;
  font-weight: 300;
  color: #1c1e21;
}
.section-container {
  width: 100%;
  padding: 50px 0;
  margin: auto;
}
p {
  font-size: 17px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.code-child {
  background-color: #0000000f;
  border: 0.1rem solid #0000001a;
  border-radius: 3px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 90%;
  padding: 0.1rem;
  vertical-align: middle;
  color: #000000;
}